name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: status-im/nimbus-common-workflow/.github/workflows/common.yml@nimblecommit
    with:
      nimble-version: 0.20.1
      test-command: |
        nimble setup -l
        nimble test
