name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: status-im/nimbus-common-workflow/.github/workflows/common.yml@verbose-build
    with:
      nimble-version: 6fe9d817a70a14fa57022a9cca46eb443ee5a040
      test-command: |
        nimble setup -l
        nimble test
